html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  min-height: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  flex: 1;
  width: 100%;
}
/* ---------------------------------------------- */
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.5rem; }
p { font-size: 1.5rem; }
code { font-size: 1.25rem; }
div { font-size: 1.25rem; }
li { font-size: 1.5rem; }
button { font-size: 1.25rem; }

h1, h2, h3, h4, p, li, button {
  font-family: helvetica, tahoma, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: .2rem;
  background-color: none;
}
/* Button styles. ---------------------------------------- */
 button {
  text-align: center;
  margin: 0.2rem auto;
  color: white;
  background-color: black;
  border: 0.15rem solid white;
  box-shadow: 0 0.15rem black, 0 -0.15rem black, 0.15rem 0 black,
    -0.15rem 0 black;
  border-radius: 0.5rem;
  padding: 0.15rem 0.25rem;
}
button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
 /* The header container. ---------------------------------- */
 .header {
   width: 100%;
   background-color: lightsteelblue;
   border-bottom: .25rem solid black;
   padding-bottom: .25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .header h1 {
   text-shadow: 0 0.15rem white, 0.15rem 0 white, 0 -0.15rem white, -0.15rem 0 white;
 }
 .header button {
   width: 30%;
   margin-bottom: .5rem;
 }
 .navigation {
   width: 80%;
   background-color: white;
   border: .25rem solid black;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 ul {
   list-style: none;
   margin: 0 auto;
   padding: 0;
   width: 50%;
 }
 a {
   text-decoration: none;
   color: inherit;
   display: block;
 }
 a:hover {
   font-weight: bold;
   background-color: lightsteelblue;
  }
  .active {
   background-color: lightsteelblue;
 }
 /* The main container. ------------------------------------- */
 .main {
   width: 80%;
   height: 80vh;
   overflow-y: scroll;
   margin: 1rem auto;
   background-color: lightsteelblue;
   border: .25rem solid black;
   border-radius: .6rem;
 }
 .main .jsTopicCont, .main .homePage {
   margin: 1rem auto;
 }
 /* Individual sections container. --------------------- */
.jsTopicCont, .homePage {
  width: 90%;
  padding: .15rem;
  border: .15rem solid black;
  background-color: white;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jsTopicCont h3  {
  margin-top: .5rem;
}
.jsTopicCont button  {
  width: 40%;
}
.jsTopicCont h3,
.jsTopicCont .codeExampleCont,
.jsTopicCont button,
.jsTopicCont .codeOutcomeCont  {
  margin-bottom: .5rem;
}
.codeExampleCont, .codeOutcomeCont {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Mitigates the starting return of the jsCode string variable. */
.codeExampleCont {
  transform: translateY(-1.25rem);
}
/* --------------------------------------------------- */
.codeExampleCont div, .codeOutcomeCont div {
  font-family: helvetica, tahoma, sans-serif;
  font-size: 1.5rem;
}
code {
  padding: 0.25rem 0.5rem;
}
pre {
  padding: 0;
  margin: 0;
}
/* Home page styles. ---------------------------------------- */
.homeH2 {
  text-decoration: underline;
  margin-bottom: .75rem;
}
.homePage ul {
  width: 65%;
  padding: 0;
}
.homePage ul li {
  text-align: left;
  list-style: disc;
}
/* Missing page styles. -------------------------------------- */
.missing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.missing button {
  width: 60%;
  margin-top: 2rem;
  padding: 0;
}
.missing button a {
  font-size: 2rem;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  display: block;
}
.missing button a:hover {
  color: black;
  background-color: white;
}
/* The hide class. ---------------------------------------------*/
.hide {
  display: none;
}
/* Media queries.----------------------------------------------- */
@media screen and (max-width: 801px){
  .main, .navigation { width: 90%; }
}
@media screen and (max-width: 800px){
  html { font-size: 12px; }

  .main * {
    border-radius: .5rem;
  }
  button { border-radius: .4rem; }
}
@media screen and (max-width: 550px){
  .main, .navigation { width: 96%; }
}
@media screen and (max-width: 450px){
  html { font-size: 10px; }
  .codeExampleCont {
    align-items: flex-start;
  }
}
